.navItem{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer
}


.navItem .title {
    margin-left: 0.5rem;
}


.navItem:hover{
    border-right: 5px solid skyblue;
    /* background-color: lightgrey;
    border-radius: 5px;
    opacity: 0.8; */
}